VITE_FIREBASE_API_KEY=AIzaSyBQBKlHpqiWeU4nG5klp0wixAZD6jfqkcM
VITE_FIREBASE_AUTH_DOMAIN=rvm-palmas-pr.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rvm-palmas-pr
VITE_FIREBASE_STORAGE_BUCKET=rvm-palmas-pr.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=219257201983
VITE_FIREBASE_APP_ID=1:219257201983:web:4417c354e9bd97e1031f8a
VITE_ADMIN_UID=X8GNogUkSlNyzsjjyRHIlXA31FL2
VITE_OWNER_UID=gubeVvLdUsRySGKrcn9G2G9xxJg1
VITE_OWNER_EMAIL=palmascg1@gmail.com
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_JW_PROXY_URL=https://proxy-jw-congregacao.maycowcarrara.workers.dev/
VITE_JW_PROXY_FALLBACKS=https://corsproxy.io/?{url},https://api.allorigins.win/raw?url={url},https://r.jina.ai/http://{targetHostPath}
