VITE_FIREBASE_API_KEY=AIzaSyDuW-J-vBJgyaRkXA-aYJwfN03RxLhaoyY
VITE_FIREBASE_AUTH_DOMAIN=vidaeministerio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vidaeministerio
VITE_FIREBASE_STORAGE_BUCKET=vidaeministerio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=275725526035
VITE_FIREBASE_APP_ID=1:275725526035:web:448fb316a8f2a6d9180be6
VITE_ADMIN_UID=X8GNogUkSlNyzsjjyRHIlXA31FL2
VITE_JW_PROXY_URL=https://proxy-jw-congregacao.maycowcarrara.workers.dev/
VITE_JW_PROXY_FALLBACKS=https://corsproxy.io/?{url},https://api.allorigins.win/raw?url={url},https://r.jina.ai/http://{targetHostPath}
