@import "tailwindcss";

/* Definição das Cores Oficiais */
@theme {
    --color-jw-blue: #4a6da7;
    --color-jw-tesouros: #626367;
    --color-jw-ministerio: #c18626;
    --color-jw-vida: #942926;
}

/* --- RESET CRÍTICO DO LAYOUT --- */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* ESSENCIAL: Força o modo claro mesmo se seu Windows estiver no modo escuro */
    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Garante que a aplicação ocupe 100% da altura da janela */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    /* Cinza claro (bg-gray-100) */
    color: #1f2937;
    /* Texto escuro (text-gray-800) */
}

/* O React injeta tudo dentro de uma div com id 'root'. 
   Ela também precisa ter altura total para o flexbox funcionar. */
#root {
    width: 100%;
    height: 100%;
    display: flex;
    /* Garante que o App.jsx consiga usar flex-1 */
    flex-direction: column;
}